body  {
    background-image: url("../images/background.jpg");
    height: 100%;
}

.headLogo  {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 120px;
    width: auto;
    margin: 0 auto;
}

.fighter  {
    height: 130px;
    widows: auto;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.charName  {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #DABE2D;
    width: 140px;
    height: 35px;
    border: solid 3px #DABE2D;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 5px;
}

.charHealth  {
    text-align: center;
    margin-top: 15px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: bold;
    color: #DABE2D;
    width: 40px;
    height: 35px;
    border: solid 3px #DABE2D;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 20px;

}

h1  {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}