body  {
    background-image: url("../images/background.jpg");
    height: 100%;
}

.headLogo  {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 100px;
    width: auto;
    margin: 0 auto;
}

.charButton  {
    background: transparent;
}

.empire  {
    background-image: url("../images/empire.jpg")
}

.fighter  {
    height: 130px;
    width: auto;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.attack  {
    height: 100px;
    width: auto;
    margin: 0 auto;
    padding-top: 40px;
}

.attackHead  {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 15px;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #DABE2D;
        width: 140px;
        height: 35px;
        border: solid 3px #DABE2D;
        background-color: #000000;
        margin: 0 auto;
        border-radius: 5px;
}

.charName  {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #DABE2D;
    width: 140px;
    height: 35px;
    border: solid 3px #DABE2D;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 5px;
}

.charHealth  {
    text-align: center;
    margin-top: 15px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(185, 20, 11);
    width: 40px;
    height: 35px;
    border: solid 3px rgb(185, 20, 11);
    background-color: #000000;
    margin: 0 auto;
    border-radius: 20px;

}

.instructions  {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #DABE2D;
    width: 300px;
    height: 30px;
    border: solid 3px #DABE2D;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 5px;
}